@media only screen and (max-width:640px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
  .content {
    width: 98%;
  }
  .cmn_sec {
    width: 95%;
  }
/* --------------------------------------------------------------------------------------------------
*  header
* --------------------------------------------------------------------------------------------------*/
.header .bnr {
  background-size: 100% 100%;
}
.bnr_txt img {
  max-width: 30%;
  padding: 46px 0 50px 0;
}
.top .header,.top_bnr {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }
 .header {
  min-width: 100%;
  margin-top: 29px;
 }
.top .logo {
 width: 100%;
 margin: 0 auto;
}
.top .logo img {
  display: block;
  width: 26%;
}
 .h_text {
  font-size: 9px;
  top: 2%;
 }
  #mxNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
}
#hLine {
  width: calc(100% - 40px);
  height: 50px;
  padding: 14px 20px 7px;
  background: #fff;
  border-bottom: 5px solid #584b1a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
#mxWrap {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  background: rgba(0,0,0,0.3);
}
#hLine h1 {
  font-size: 18px;
}
#hLine h1 span {
  display: block;
  font-size: 10px;
}
#mxIcn {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#mxIcn .icnEle {
  width: 100%;
  height: 5px;
  background: #000;
  transition: all 0.5s ease-in-out;
}
#mxIcn .movEle:first-child {
  transform: translate3d(0px, 15px, 0px);
  transition: all 0.5s ease-in-out;
}
#mxIcn .movEle:last-child {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, -15px, 0px);
}
#mxNavLi {
  padding-top: 75px;
  height: 100%;
  overflow: scroll;
}
#mxNavLi::-webkit-scrollbar { 
    display: none; 
} 
#mxNavLi li {
  width: calc(100% - 40px);
  padding: 7px 20px;
  border-bottom: 2px solid #000;
  font-size: 14px;
  text-align: center;
  background: #fff
}
#mxNavLi li span {
  display: block;
}
/* ----------------------------------------------------------------------------------------------------
 *  index
 * --------------------------------------------------------------------------------------------------*/
 .title img {
    max-width: 80%;
 }
 .sec02In .top_btn01 img {
  max-width: 70%;
 }
 .top_content {
   width: 96%;
   padding-top: 27px;
 }
 .left01 {
  width: 24%;
 }
 .top_left {
  width: 83%;
 }
 .top_right {
  width: 15%;
 }
 .right01 {
  width: 75%;
 }
 .top_txt01 {
  font-size: 10px;
 }
 .top_sec02 {
  width: 97%;
 }
 .list_date {
  width: 20%;
 }
 .list_txt {
  width: 65%;
  float: right;
 }
 .top_new {
  width: 86%;
 }
  .sec02In {
  border-bottom: none;
  padding: 3% 0 0 0;
 }
 .sec02_right {
  border-left: none;
 }
 .sp_tit_wid img {
  max-width: 90%;
 }
 .sp_tit_wid01 img {
  max-width: 52%;
 }
 .sp_tit_wid02 img {
  max-width: 59%;
 }
 .sp_tit_wid03 img {
  width: 80%;
 }
 .sec02_left,.sec02_right {
  float: none;
  width: 92%;
  padding-bottom: 30px;
  margin-bottom: 25px;
 }
 .sec02_l {
  width: 66%;
 }
 .sec02_r {
  width: 32%;
 }
 .list_date,.list_txt,.sec02_l p {
  font-size: 11px;
 }
 .sec02In .top_btn01 {
  bottom: 2%;
 }
 .sec02Pad .sec02_left, .sec02Pad .sec02_right {
  padding-bottom: 50px;
 }
 .top_btn01 img {
  width: 70%;
  margin: 0 auto;
 }

/* --------------------------------------------------------------------------------------------------
 *  about
 * --------------------------------------------------------------------------------------------------*/
 .about .content {
    width: 98%;
    margin: 0 auto;
  }

  .about_secin01 img {
    width: 98%;
  }
  .about_sec01 {
    background: none;
    padding-top: 30px;
  }
  .about_secin01 {
    width: 95%;
    padding: 20px 0 0 0;
    float: none;
    margin: 0 auto;
  }
  .about_txt02{
    padding: 0 0 35px 0;
  }
  .about_tit {
    width: 98%;
    margin: 0 auto;
  }

  .about_tit img {
    width: 50%;
  }
  .about_sec02in{
    padding: 30px 0 16px 0;
  }

  .about_l,
  .about_l01 {
    width: 100%;
    float: none;
  }

  .about_l img,
  .about_l01 img {
    width: 50%;
  }
  .img_r{
    text-align: center;
  }
  .about_r{
    width: 100%;
    float: none;
  }
  .about_tb{
    width: 95%;
    margin: 0 auto;
  }  
/* -------------------------------------------------------------------------------------------------
 * attention
 * ------------------------------------------------------------------------------------------------*/
 .attention {
    width: 95%;
    margin: 0 auto;
  }
  .attention .sec_tit {
    font-size: 18px;
  }
  .attention .sec_dec {
    width: 100%;
    font-size: 12px;
  }
  .attention .sec02 {
    font-size: 12px;
  }
  .attention .sec03 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .attention .sec03 .inner_sec p {
    text-align: center;
  }
  .attention .sec04 .time ul li, .attention .sec05 {
    font-size: 14px;
  }
  .attention .sec04 .time {
    width: 100%;
  }
  .attention .sec04 .time ul {
    flex-direction: column;
    align-items: center;
  }
  .attention .calender iframe {
    width: 95%;
    height: 200px;
  }
/*--------------------------------------------------------------------------------------------------
*access
----------------------------------------------------------------------------------------------------*/

  .access_sec {
    padding: 30px 3% 0;
    margin-bottom: 10px;
  }
  .access_left {
    margin-bottom: 5%;
  }
  .access_left dl dt {
    font-size: 16px;
  }
  .access_left dl dd, .access_right span {
    font-size: 11.5px;
  }
  .access_left,.access_right
  {
    width: 100%;
  }
  .map iframe {
    width: 94%;
    padding: 0 3%;
  }
  
/*--------------------------------------------------------------------------------------------------
*contact
----------------------------------------------------------------------------------------------------*/
  .inquiry h2 {
    font-size: 1.500em;
  }

  .inquiry .contact-phone img {
    width: 64%;
  }

  .inquiry h4 {
    font-size: 1.500em;
  }

  form  ul li label {
    width: 50%;
    font-size: 0.625em;
    vertical-align: middle;
    text-align: left;
  }

  form li .box:after {
    width: 15%;
  }

  form input,
  form select,
  form textarea {
    width: 100%;
  }

 form .cus select {
    width: 100%;
    font-size: 0.425em;
  }

  .button {
    width: 35%;
  }

  .button button {
    font-size: 1.235em;
  }
  .button  a input {
    font-size: 13px;
  }
/* -------------------------------------------------------------------------------------------------
* dog run
* ------------------------------------------------------------------------------------------------*/
  
  .content .dog_run {
   width: 85%;
   margin:0 auto;
   padding: 58px 0 0 0;
   }
  .sec_01 {
    width: 100%;
    padding:0 0 130% 0;
    position: relative;
  }
  .sec_01 .dog-photo {
    width: 100%;
    height: auto;
    position: absolute;
    top: 14%;
  }
  .sec_01 .dir_text {
    width: 100%;
    padding: 10% 0;
    background:url(../../img/dog_run/sp_img01.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 3%;
    top: 0;
    z-index: 1;
  }
  .sec_01 .dir_text p {
    display: none;
  }
  .sec_01 .nml_text {
    width: 100%;
    position: absolute;
    margin-top: 87%;
  }
  .sec_01 .nml_text p {
    margin-left: 0;
    text-align: center;
    font-size: 1em;
  }
  .sec_02 {
    width: 100%;
    margin-top: 3%;
  }
  .sec_02_inner {
    width: 100%;
    height: 0;
    padding: 0 0 130% 0;
    margin: 0 auto;
    position: relative;
  }
  .sec_02 .sec_02_inner .point_text {
    width: 100%;
    height: 0;
    padding: 14% 0;
    background:url(../../img/dog_run/sp_img02.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 1;
  }
  .sec_02 .sec_02_inner .point_text p {
    display: none;
  }
  .sec_02 .sec_02_inner .dog-photo {
    width: 100%;
    position: absolute;
    top: 20%;
  }
  .sec_02 .sec_02_inner .dog-text {
    width: 100%;
    position: absolute;
    top: 74%;
  }
  .sec_02 .sec_02_inner .dog-text p {
    font-size: 1em;
    text-align: center;
  }
  .sec_03 {
    width: 100%;
    padding:0 0 130% 0;
    margin-top: 5%;
    position: relative;
  }
  .sec_03 .dir_text {
    width: 88%;
    height: 0;
    padding:12% 0;
    background:url(../../img/dog_run/sp_img03.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .sec_03 .dir_text p {
    display: none;
  }
  .sec_03 .dog-photo {
    position: absolute;
    top: 17.1%;
  }
  .sec_03 .nml_text {
    width: 100%;
    position: absolute;
    top: 70%;
  }
  .sec_03 .nml_text p {
    margin-left:0;
    text-align: center;
    font-size: 1em;
  }
  .sec_04 {
    width: 100%;
    margin-top: 0;
  }
/*--------------------------------------------------------------------------------------------------
*news & informantion
----------------------------------------------------------------------------------------------------*/
  .art h2,
  .seasonal h2,
  .play h2 {
    font-size: 0.95em;
  }
  .season_sec ul li {
    float: none;
  }
  .season_sec ul li:first-child {
    width: 90%;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .season_sec ul li:last-child {
    width: 90%;
  }
  img {
    width: 100%;
  }
  .play_img img:first-child {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .art h2:before,
  .seasonal h2:before,
  .play h2:before {
    position: relative;
    top: 5px;
    left: 0;
  }
/*--------------------------------------------------------------------------------------------------
*price
----------------------------------------------------------------------------------------------------*/
  .register-fee h2 {
    margin-bottom: 10px;
  }
  .register-fee h2 img {
    max-width: 55%;
  }
  .register-fee p.sub-title {
    width: 93%;
    margin: 0 auto;
  }
  .register-fee ul li .dog-type,
  .register-fee02 ul li .dog-type {
    width: 70%;
  }
  .register-fee ul li .dotted {
    display: none;
  }
  .register-fee ul li .price,
  .register-fee02 ul li .price {
    width: 30%;
  }
  .register-fee01 {
    width: 90%;
    float: none;
  }
  .register-fee02 {
    width: 90%; 
  }
  .price,
  .price-sec,
  .price-sec02,
  .price-sec03,
  .price-sec04 {
    padding: 10px 0 30px;
  } 
  .price-sec .register-fee01 {
    margin-bottom: 20px;
  }
  .price-sec02 {
    width: 100%; 
  }
  .remark {
    text-align: left;
  }
  .remark2 {  
    width: 93%;
    margin: 0 auto;
  }
/*--------------------------------------------------------------------------------------------------
*privacy
----------------------------------------------------------------------------------------------------*/
  .cmn_sec {
    width: 85%;
    padding: 30px 0 0 !important; 
  }
  .privacy h2 {
    font-size: 21px;
  }
  .privacy p {
    font-size: 14px;
  }
  .privacy dl dd {
    padding-left: 5%;
  }

/*--------------------------------------------------------------------------------------------------
*footer
----------------------------------------------------------------------------------------------------*/
  .pro_policy {
    width: 95%;
  }
  .pro_policy a {
    padding: 5px 0 0 0;;
    font-size: 12px;
  }
  .footer_inner {
    width: 80%;
    margin: 10px auto 30px auto; 
  }
  .footer_inner .foot_logo {
    width: 40%;
    padding: 0;
  }
  .footer_inner .foot_logo img {
    width: 90%;
  }
  .footer_inner ul {
    width: 50%;
    float: right;
    margin: 10px auto 0;
  }
  .footer_inner ul li:first-child {
    font-size: 16px;
  }
  .footer_inner ul li {
    font-size: 13px;
  }
  .copy p {
    text-align: center;
    font-size: 0.7em;
  }

}

